doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/less/app.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    block less
  body
    header
      #header-contain
        #social-connect
          ul#social-buttons
            li
              a(href="https://www.facebook.com/thefreshhouse" target="_blank") f
            li
              a(href="http://www.twitter.com/gofreshhouse" target="_blank") l
            li
              form(target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post")
                input(type="hidden" name="business" value="orders@gofreshhouse.com")
                input(type="hidden" name="cmd" value="_cart")
                input(type="hidden" name="display" value="1")
                button#viewCart(type='submit') P

        a(href='/')
          #logo

        nav
          ul#nav
            li
              a(href='/about') about
            li
              a(href='/products') shop
            li
              a(href='/faq') faq
            li
              a(href='#footer') contact

    block content

    #footer
      #footer-contain
        h1 NEED TO KNOW MORE?
        p Contact us! We're here to answer your questions and listen to your comments and suggestions. We'll get back to you within three business days!
        form#contactform(method='POST', action='/feedback')
          input(type='text' name='name' placeholder='Name')
          input(type='text' name='email' placeholder='Email Address')
          textarea(name='question' placeholder='Questions, comments, suggestions?')
          button Send

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/paypal-button.min.js')
    script(src='/js/source/main.js')
    block scripts

