extends ../shared/template

block content
  .sub-head
    h1.sub-head-title About

  #aboutContainer
    #mission Our Mission: To reduce environmental toxins and improve the health of millions of people with forward-thinking green technology products.
      | As technology evolves, so does our product line. You are co-creating this experience. Thank You!
    #meet Meet Scott.
    img(src='/img/scott-bio-img.jpg' width='1027' height='693')
    #bio Scott’s Bio and how he started the company. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    #shopText Improve Your Health and Protect Your Family from Environmental Toxins in Your Air and Water.
      p.link
        a(href="/products").box-link SHOP &rang;&rang;
