extends ../shared/template

block content
  .sub-head
    h1.sub-head-title Frequently Asked Questions

  section#faq
    article.questions-answers
      p.big Q:
      p.question What’s the difference between distilled, reverse osmosis, bottled, tap, spring, and ionized waters?
      .clearfloats

      p.big A:
      p.answer
        | Distilled, De-Ionized, and Reverse Osmosis waters are considered “Dead Waters”. They are:
        br
        br
        | 1) stripped of minerals
        br
        | 2) oxidizing
        br
        | 3) acidic
        br
        br
        br
        | They strip our bodies of alkaline minerals, oxygen, and electrical charge, thus leading to cellular degeneration and aging.
        br
        br
        | Since these waters are devoid of minerals, they are great for machines, but not for our bodies. We need alkaline minerals, such as calcium, potassium, sodium, and magnesium.  As we age, these minerals are reduced throughout the years, often times leading to soft tissue injuries or decreased bone density. Plain tap water is a chemical soup, and bottled water only contributes to our water pollution. Electrolyzed Reduced Water (ERW), produced by a water ionizer appliance, has naturally-occurring alkaline minerals, oxygen, dissolved molecular Hydrogen gas (which is known for myriads of beneficial health effects), and a negative electrical charge (electrons, which are required for every chemical reaction on the planet, including all those that occur in our bodies).</p>
      .clearfloats

    article.questions-answers
      p.big Q:
      p.question What will this water do to help me become healthier?
      .clearfloats

      p.big A:
      p.answer
        | The following is placeholder text. Full answer will go here.
        br
        br
        | Since these waters are devoid of minerals, they are great for machines, but not for our bodies. We need alkaline minerals, such as calcium, potassium, sodium, and magnesium.  As we age, these minerals are reduced throughout the years, often times leading to soft tissue injuries or decreased bone density. Plain tap water is a chemical soup, and bottled water only contributes to our water pollution. Electrolyzed Reduced Water (ERW), produced by a water ionizer appliance, has naturally-occurring alkaline minerals, oxygen, dissolved molecular Hydrogen gas (which is known for myriads of beneficial health effects), and a negative electrical charge (electrons, which are required for every chemical reaction on the planet, including all those that occur in our bodies).</p>
      .clearfloats

    article.questions-answers
      p.big Q:
      p.question What will this water do to help me become healthier?
      .clearfloats

      p.big A:
      p.answer
        | The following is placeholder text. Full answer will go here.
        br
        br
        | Since these waters are devoid of minerals, they are great for machines, but not for our bodies. We need alkaline minerals, such as calcium, potassium, sodium, and magnesium.  As we age, these minerals are reduced throughout the years, often times leading to soft tissue injuries or decreased bone density. Plain tap water is a chemical soup, and bottled water only contributes to our water pollution. Electrolyzed Reduced Water (ERW), produced by a water ionizer appliance, has naturally-occurring alkaline minerals, oxygen, dissolved molecular Hydrogen gas (which is known for myriads of beneficial health effects), and a negative electrical charge (electrons, which are required for every chemical reaction on the planet, including all those that occur in our bodies).</p>
      .clearfloats
