extends ../shared/template

block content
  #about
    #about-contain
      #splash
        img(src="/img/splash.png" width="1060" height="697")

      h1 You are what you drink.
      p learn how alkaline water can change your life.
      p.link
        a(href="#").box-link ABOUT &rang;&rang;

  #shop
    #shop-contain
      h1
        span want to install the
      h1
        span fountain of youth in your
      h1
        span own kitchen?
      p.link
        a(href="/products").box-link SHOP &rang;&rang;

  #video
    #video-contain
      h1 A message from Scott
      #placeholder
      #videotext
        p
          | Scott Mitchell Atkins is the creator and founder of The Fresh House.
          | His passion is to bring the healthiest water to everyone in America and across the world.
          | The Fresh House isn't just a company - it's a community focused on the health and
          | happiness of its members.
        p.link want to learn more?
        p.link
          a(href='#').box-link FAQ &rang; &rang;
